.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 97%;
  background-color: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  flex: 0.3;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  color: white;
  cursor: pointer;
  width: 300px;
}

.footer-center {
  flex: 0.4;
  padding: 0 100px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  cursor: pointer;
}

.footer-right {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: whitesmoke;
  justify-content: space-between;
  cursor: pointer;
}

.footer-albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer-green {
  color: #1ed15e;
}

.text > h4 {
  margin-bottom: 5px;
}

.text > p {
  font-size: 12px;
}

.footer-icon:hover,
.footer-green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer-right * .MuiSlider-root {
  color: #1ed15e;
}
